@font-face{
    font-family: digitalClock;
    src: url('../fonts/digital-7.ttf');
}

body {
    width: 1920px;
    text-align: center;
    overflow: hidden;
    font-family: 'Roboto Condensed';
    background-image: linear-gradient(45deg, #293c6b 30%, #2d4175 30%, #2d4175 50%, #293c6b 50%, #293c6b 80%, #2d4175 80%, #2d4175 100%);
    background-size: 70.71px 70.71px;
    user-select: none;
}


li {
    list-style: none;
	margin: 10px 0;
}

#container-game-area {
    margin: 2% auto;
    width: 1520px;
    height: 780px;   
}

.scenes {
    width: 1480px;
    height: 540px;
    margin: 0 auto;
    display: none;
}

#container-canvas {
    width: 1480px;
    height: 540px;
    margin: 0 auto;
    display: none;
}

#title-screen {
    display: block;
    position: relative;
    background-image: url('../images/main_title_background.png');
    display: block;
    background-size: contain;
}

#instructions {
    display: none;
    position: relative;
    background-color: white;

}
#instructions-wrapper {
    width: 60%;
    height: 95%;
    top: 2.5%;
    left: 1%;
    background-color: #2d4175;
    opacity: .9;
    font-family: 'Roboto Condensed';
    color: white;
    position: relative;
    float: left;
}
#instructions-header {
    background-color: #293c6b ;
}
#instructions-content {
    text-align: left;
    font-size: 18px;
}

#instructions-content li {
    margin: 0 0 20px 0;
}

#world-view {
    display: none;
    position: relative;
    background-image: url("../images/world-view-background.png");
    display: none;
    width: 1480px;
    height: 540px;
}

#cut-scene {
    display: none;
    position: relative;
    width: 1480px;
    height: 540px;
}

#trivia-card {
    display: none;
    position: relative;
   
}
#trivia-card-content {
    display: block;
    position: absolute;
    width: 1110px;
    height: 405px;
    left: 12.5%;
    top: 12.5%;
    background-color: white;
    z-index: 10;
    opacity: .9;
}

#end-game-win {
    display: none;
    position: relative;
    background-image: url("../images/cutscenes/cutsceneWin.png");
}

#end-game-lose {
    display: none;
    position: relative;
    background-image: url("../images/cutscenes/cutsceneLose.png");
}

#container-hints {
    width: 340px;
    height: 180px;
    float: left;
    display: block;
    margin: 20px 20px;
    text-align: center;
    position: relative;
    background-color: white;
    display: none;
   
}
#number-of-hints{
    position: absolute;
    display: block;
    margin-top: 20px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

#container-buttons {
    width: 760px;
    height: 180px;
    float: left;
    margin: 20px 0;
    
}

#container-timer {
    width: 340px;
    height: 180px;
    float: left;
    display: block;
    margin: 20px 12px;
    text-align: center;
    background-color: white;
    display: none;
    
}

#timer-background {
    position: relative;
    float: left;
    display: block;
    background-image: url("../images/ui/timer.png");
    background-size: fill;
    width: 207px;
    height: 100px;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#prompt-validate-selection{
    display: none;
}

#button-group-main-menu {
    position: absolute;
    display: block;
    bottom: 5%;
    right: 5%;
}
#button-group-main-menu button {
    width: 275px;
    height: 75px;
    font-size: 2em;
    margin-top: 20px;
    font-family: 'Roboto Condensed';
    padding: 0.2em 1.0em;
}

#btn-start-game {
    background-color: #2d4175;
    color: white;
}

#btn-quit-game {
    background-color: white;
    color: #2d4175;
}
#difficulty-select-wrapper {
    width: 35%;
    height: 94%;
    top: 2.5%;
    margin-left: 3%;
    background-color: white;
    opacity: .9;
    font-family: 'Roboto Condensed';
    color: white;
    position: relative;
    float: left;
    border: 4px solid #2d4175;
}
#difficulty-select-header {
    color: #2d4175;
    font-weight: bolder;
    font-size: 17px;
}

#button-group-difficulty-select {
    background-color: white;
    position: relative;
    margin-left: 20px;
}

#button-group-difficulty-select ul{
    display: inline;
}
#button-group-difficulty-select li{
    margin: 0 0 40px 0;
}

#button-group-instructions{
    position: absolute;
    display: none;
    background-color: white;
    border: 4px solid black;
}

#button-group-instructions-layout {
    position: relative;
    top: 35%;
}
#button-group-world-view {
    display: none;
    background-color: white;
    height: 172px;
}
#button-group-world-view-layout {
    position: relative;
    top: 35%;
}

#button-group-trivia-card {
    display: none;
    height: 172px;
}

#button-group-cut-scene {
    display: none;
    background-color: white;
    height: 172px;
}
#button-group-end-game {
    display: none;
    background-color: white;
    height: 172px;
    position: relative;
}
#button-group-end-game-continued {
    display: none;
    background-color: white;
    height: 172px;
}
#btn-cutscene{
    position: relative;
    top: 35%;
}
#btn-endGame{
   position: relative;
   top: 35%; 
}

.btn-endGame {
    background-color: white;
    color: #2d4175;
    width: 275px;
    height: 75px;
    font-size: 2em;
    margin-top: 20px;
    font-family: 'Roboto Condensed';
    border-radius: 2em;
    box-sizing: border-box;
    padding: 0.2em 1.0em;
}

#number-of-hints {
    display: block;
}

#timer {
    color: black;
    display: block;
    font-family: digitalClock;
    font-size: 4.5em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}

#btn-back {
    position: absolute;
    top: 5%;
    left: 4%;
    width: 125px;
}

#btn-endGame-playAgain {
    position: relative;
    top: 35%; 
}
#btn-endGame-Quit {
    position: relative;
    top: 35%; 
}

.button3 {
    display: inline-block;
    padding: 0.2em 1.0em;
    margin: 0 0.3em 0.3em 0;
    text-decoration: none;
    font-family: 'Roboto Condensed';
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    background-color: #2d4175;
    text-align: center;
    transition: all 0.2s;
}

.button2 {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
}


.difficultyPage{
    text-align: center;
}

.rules{
    text-align: center;
   
}

#answer-container {
	background-color: white;
	text-align: left;
    font-weight: bold;
    padding-top: 10px;
}

#btn-submit-answer-layout {
    position: relative;
    left: 65%;
}

#trivia-card-hint-image {
	position: absolute;
	bottom: 1%;
	left: 1%;
	
}




#hint {
	margin-left: 25px;
}
.trivia-card-header {
	background-color: #293c6b;
	color: white;
	font-size: 2em;
    font-weight: bold;
    padding: 10px 10px 10px 25px;
	text-align: left;
	padding: 10px;
}
#question {
	height: 65%;
	padding-top: 20px;
	padding-left: 25px;
	text-align: left;
	font-size: 1.75em;
	font-weight: bold;
}
#hint-content {
	display: none;
	position: absolute;
	bottom: 5%;
	left: 10%;
	font-size: 1.5em;
	font-weight: bold;
	background-color: #fbfc92;
	width: 80%;
	text-align: left;
}

.prompt-box{
    display: none;
	position: absolute;
	top: 45%;
	left: 35%;
	background-color: red;
	font-size: 1.25em;
	font-weight: bold;
	padding: 7px;
    width: 33%;
    height: 25%;
    box-shadow: 5px 10px #888888;
    color: white;
    opacity: 1;
    vertical-align: middle;
}

.hint-prompt-btn {
    padding: 10px;
    display: inline-block;
	width: 70px;
	margin: 15px 15px;
	text-align: center;
}

#hint-prompt{
    background-color: yellow;
    color: black;
}

#correct-answer-prompt{
    background-color: forestgreen;
}

.end-game-prompt {
    display: none;
    width: 65%;
    height: 75%;
    top: 15%;
    left: 18%;
    background-color: #2d4175;
    opacity: .9;
    box-shadow: 5px 10px #888888;
    font-family: 'Roboto',sans-serif;
    color: white;
    position: relative;
}

.end-game-prompt h2 {
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
}

.end-game-prompt p {
    text-align: left;
    font-size: 1.75em;
    margin-bottom: 20px;
    margin-left: 20px;
}