@font-face{
    font-family: digitalClock;
    src: url('../fonts/digital-7.ttf');
}

body {
    width: 1920px;
}

li {
    list-style: none;
}

#container-game-area {
    margin: 5% auto;
    width: 1520px;
    height: 780px;   
    
}

.scenes {
    width: 1480px;
    height: 540px;
    margin: 0 auto;
    display: none;
}

#container-canvas {
    width: 1480px;
    height: 540px;
    margin: 0 auto;
    display: none;
}

#title-screen {
    display: block;
    position: relative;
    background-image: url('../images/title-screen.png');
    display: block;
    background-size: contain;
}

#difficulty-select {
    display: none;
    position: relative;
    display: none;
    background-image: repeating-radial-gradient(blue 10%,white 10%,blue 20%);
}

#instructions {
    display: none;
    position: relative;
    display: none;
    background-image: repeating-radial-gradient(blue 10%,white 10%,blue 20%);
}

#world-view {
    display: none;
    position: relative;
    background-image: url("../images/world-view-background.png");
    display: none;
    width: 1480px;
    height: 540px;
}

#cut-scene {
    display: none;
    position: relative;
    width: 1480px;
    height: 540px;
}

#trivia-card {
    display: none;
    position: relative;
   
}
#trivia-card-content {
    display: block;
    position: absolute;
    width: 1110px;
    height: 405px;
    left: 12.5%;
    top: 12.5%;
    background-color: white;
    z-index: 10;
    opacity: .9;
    box-shadow: 5px 10px #888888;
}

#end-game-win {
    display: none;
    position: relative;
    background-color: orangered;
}

#end-game-lose {
    display: none;
    position: relative;
    background-color: silver;
    display: none;
}

#container-hints {
    width: 340px;
    height: 180px;
    float: left;
    display: block;
    margin: 20px 20px;
    text-align: center;
    position: relative;
    background-color: white;
    border: 4px solid black;
    box-sizing: border-box;
   
}
#number-of-hints{
    position: absolute;
    display: block;
    margin-top: 20px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

#container-buttons {
    width: 760px;
    height: 180px;
    float: left;
    margin: 20px 0;
}

#container-timer {
    width: 340px;
    height: 180px;
    float: left;
    display: block;
    margin: 20px 12px;
    text-align: center;
    background-color: white;
    border: 4px solid black;
    box-sizing: border-box;
    
    
}

#timer-background {
    position: relative;
    float: left;
    display: block;
    background-image: url("../images/ui/timer.png");
    background-size: fill;
    width: 207px;
    height: 100px;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#prompt-validate-selection{
    display: none;
}

#button-group-main-menu {
    display: block;
}

#button-group-difficulty-select {
    display: none;
}
#button-group-instructions{
    display: none;
}
#button-group-world-view {
    display: none;
}

#button-group-trivia-card {
    display: none;
}

#button-group-cut-scene {
    display: none;
}

#number-of-hints {
    display: block;
}

#timer {
    color: black;
    display: block;
    font-family: digitalClock;
    font-size: 4.5em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}

#btn-back {
    position: absolute;
    top: 5%;
    left: 4%;
    width: 125px;
}

.button3 {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
}

.button2 {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
}

#moveupBTN{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

.difficultyPage{
    text-align: center;
}

.rules{
    text-align: center;
   
}

