body {
    background-color: chartreuse;
    width: 1920px;
}

#container-game-area {
    margin: 5% auto;
    background-color: blueviolet;
    width: 1520px;
    height: 780px;   
}

.canvases {
    width: 1480px;
    height: 540px;
    background-color: cyan;
    margin: 0 auto;
}

#title-screen {
    display: block;
    position: relative;
    background-color: blanchedalmond;
    display: block;
}

#difficulty-select {
    display: none;
    position: relative;
    background-color: red;
    display: none;
}

#instructions {
    display: none;
    position: relative;
    background-color: darkmagenta;
    display: none;
}

#world-view {
    display: none;
    position: relative;
    background-color: dimgrey;
    display: none;
}

#cut-scene {
    display: none;
    position: relative;
    background-color: hotpink;
    display: none;
}

#trivia-card {
    display: none;
    position: relative;
    background-color: mediumspringgreen;
    display: none;
}

#end-game-win {
    display: none;
    position: relative;
    background-color: orangered;
    display: none;
}

#end-game-lose {
    display: none;
    position: relative;
    background-color: silver;
    display: none;
}

#container-hints {
    width: 340px;
    height: 180px;
    float: left;
    background-color: darkmagenta;
    margin: 20px 20px;
    display: block;
}

#container-buttons {
    width: 760px;
    height: 180px;
    float: left;
    background-color: red;
    margin: 20px 0;
}

#container-timer {
    width: 340px;
    height: 180px;
    float: left;
    background-color: black;
    margin: 20px 20px;
    display: block;
}

#prompt-validate-selection{
    display: none;
}

#button-group-main-menu {
    display: block;
}

#button-group-difficulty-select {
    display: none;
}
#button-group-instructions{
    display: none;
}
#button-group-world-view {
    display: none;
}

#button-group-trivia-card {
    display: none;
}

#button-group-cut-scene {
    display: none;
}

#number-of-hints {
    display: none;
}

#timer {
    color: red;
    display: none;
}